<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/nav.ejs') %>
	<form action="/edit/<%= item._id%>" method="POST">
		<h2>Editing entry: <%= item.itemName%> </h2>
		<div>
			<label for="itemName">Item Name</label>
			<input type="text" id="itemName" name="itemName" value="<%= item.itemName %>" required>
		</div>
		<div>
			<label for="category">Category</label>
			<select id="category" name="category" required>
				<option value="drinks"
				<% if(item.category === "drinks") { %>
					selected
				<%}%>
				>Drinks</option>
				<option value="food"
				<% if(item.category === "food") { %>
					selected
				<%}%>
				>Food</option>
			</select>
		</div>
		<div>
			<label for="storage_type">Storage Type</label>
			<select id="storage_type" name="storage_type" required>
				<option value="cold"
				<% if(item.storage_type === "cold") { %>
					selected
				<%}%>
				>Cold</option>
				<option value="dry"
				<% if(item.storage_type === "dry") { %>
					selected
				<%}%>
				>Dry</option>
				<option value="frozen"
				<% if(item.storage_type === "frozen") { %>
					 selected
				<%}%>
				>Frozen</option>
			</select>
		</div>
		<div>
			<label for="price">Price</label>
			<input type="number" id="price" name="price" value="<%= item.price %>" required>
		</div>
		<div>
			<label for="stock">Stock</label>
			<input type="number" id="stock" name="stock" value="<%= item.stock %>" required>
		</div>
		<div>
			<label for="img">Image url (optional)</label>
			<input type="text" id="img" name="img" value="<%= item.img %>">
		</div>

		<button>Submit</button>
	</form>
</body>
</html>