<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="inventory">
		<div class="list">
			<h2>Grocery Store Inventory</h2>
			<div class="items">
				<% if(items) { %>
					<% items.map((item) => { %>
						<div class="single">
							<h3><%= item.itemName %></h3>
							<img src="<%= item.img%>">
							<div class="info">
								<p>Goods type: <%= item.storage_type%> <%= item.category %></p>
								<p>Stock: <%= item.stock %> </p>
								<p>Price per unit : <%= item.price %>$</p>
							</div>
							<div class="btns">
								<a class="delete" data-doc="<%= item._id %>">
									<img src="/images/trash.png" alt="">
								</a>
								<a class="edit" href="/edit/<%= item._id %>">
									<img src="/images/pen.png" alt="">
							</div>
							</a>
						</div>
					<% }) %> 
				<% } %>
			</div>
		</div>
		<div class="pages">
			<% if(pageCount) { %>
				<% for(let i = 1; i<=pageCount; i++) { %>
					<a href="/?page=<%= i %>"><%= i %></a>
				<%}%>
			<%}%>

		</div>
	</div>

	<script defer>
		const trash = Array.from(document.querySelectorAll('.delete'))
		const nodes = Array.from(document.querySelectorAll('.single'))
		trash.forEach((item) => {
			item.addEventListener('click', (e) => {
				const endpoint = `/${item.dataset.doc}`
				fetch(endpoint, {
					method: 'DELETE',
				})
				.then((response) => {
					nodes[trash.indexOf(item)].remove()
				})
				.catch(err => console.log(err))
		})})
	</script>
</body>
</html>